.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.header-container {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-items: flex-start;
  margin-top: 15px;
  font-size: 10px;
  width: 30%;
  color: white;
  order: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  width: 40%;
  font-size: 20px;
  order: 1;
}

.links {
  color: white;
  text-decoration: none;
}
